body {
    background-color: #FAFAFA;
}

* {
    font-family: 'Roboto', sans-serif;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 350px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 0.5rem;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 20%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -125px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.side {
    border-radius: 5px;
    width: 300px;
    border: 1px solid;
    background-color: #fafafa;
    min-height: 200px;
    position: fixed;
    padding: 5px;
    right: 55px;
    top: 260px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

ul {
    list-style: none;
}

input[type=number]::-webkit-inner-spin-button {
    opacity: 1
}

td {
    border: 1px solid rgba(0, 0, 0, 0.35);
    border-radius: 5px;
    padding: 5px;
}

td input{
    border-radius: 5px;
    width: 3.5rem;
}

.button {
    font-family: 'Roboto Mono', monospace;
    color: #fdfcfc;
    font-weight: bold;
    text-transform: uppercase;
    padding: 20px 35px;
    text-align: center;
    border: none;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    margin-left: 3rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    border-radius: 25px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.button:hover {
    transform: translateY(-2px);
}

.reset-button {
    background-color: #F44336;
    color: #ffffff;
}

.generate-button {
    background-color: #2196F3;
    color: #ffffff;
    border-radius: 25px;
    margin-bottom: 5rem;
    margin-top: 5rem;
}

.save-button {
    background-color: #2196F3;
    color: #ffffff;
}

.url-button {
    background-color: #4CAF50;
    color: #ffffff;
}

.txt-button{
    background-color: #4CAF50;
    color: #ffffff;
}

.url-button:hover, .txt-button:hover {
    background-color: #43A047;
    transform: scale(1.05);
}

.generate-button:hover, .save-button:hover {
    background-color: #1976D2;
    transform: scale(1.05);
}

.reset-button:hover {
    background-color: #D32F2F;
    transform: scale(1.05);
}

.button-container {
    display: table;
    margin: 0 auto;
}

.button:active {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

ul {
    margin: 2px;
    margin-left: 2rem;
}

.category-title {
    font-size: 22px;
    font-weight: bolder;
    margin: 0;
    margin-bottom: 2rem;
}

.mainPoint-title {
    font-size: 1rem;
    font-weight: bolder;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    margin-left: 2rem;
}

.additional-text-title {
    font-size: 1rem;
    font-weight: bolder;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    margin-left: 2rem;
}

.category-container {
    margin-top: 3rem;
    margin-left: 3rem;
    margin-right: 3rem;
    margin-bottom: 3rem;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: #FFFFFF;
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.positive-title {
    color: blue;
    font-size: 1.3rem;
    font-weight: bolder;
    margin-bottom: 0px;
}

.neutral-title {
    margin-top: 1.3rem;
    color: green;
    font-size: 1.3rem;
    font-weight: bolder;
    margin-bottom: 0px;
}

.negative-title {
    margin-top: 1.3rem;
    color: red;
    font-size: 1.3rem;
    font-weight: bolder;
    margin-bottom: 0px;
}

.subpoint-textbox {
    margin-left: 1.2rem;
    margin-bottom: 1rem;
    display: block;
}

.evaluation-textbox {
    margin-left: 5rem;
    margin-right: 5rem;
    margin-bottom: 5rem;
    width: 90%;
    height: 600px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
}

.textarea-notes {
    width: 70%;
    height: 150px;
    margin-left: 5rem;
}

.tab-container {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

.tab-container button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

.tab button:hover {
    background-color: #ddd;
}

.tab button.active {
    background-color: #ccc;
}

.assignment-specific-title {
    margin-left: 5rem;
}

.assignment-section-title {
    margin-left: 5rem;
}


/* File upload form */

form#upload {
    width: 380px;
    text-align: left;
}

fieldset {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

legend {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: left;
}

label[for="fileselect"] {
    font-size: 16px;
    font-weight: bold;
    margin-top: 20px;
    display: block;
    color: #555;
}

input[type="file"] {
    margin-top: 15px;
    padding: 15px;
    border-radius: 8px;
    border: 2px solid #b9b7b7;
    width: 80%;
    cursor: pointer;
    background-color: #f8f8f8;
    color: #1e1d1d;
}

#filedrag {
    margin-top: 15px;
    padding: 15px;
    border: 3px dotted #bbb;
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
    background-color: #fafafa;
    color: #666;
    font-weight: bold;
}

#filedrag.dragover {
    border-color: #000;
    color: #000;
}

#submitbutton {
    text-align: left;
    margin-top: 20px;

}

button[type="submit"], button.delete-file {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 16px
}

#messages {
    font-size: 16px;
    font-weight: bold;
    padding: 1px;
    border-radius: 10px;
    background-color: #eee;
    text-align: center;
}

#clearButton {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 16px
}

#clearButton:hover {
    background-color: #444;
}

/*   Name input  */

.name-input {
    width: 200px;
    margin: 20px auto;
    text-align: left;
}


legend {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
}

.form-group {
    margin-top: 20px;
    text-align: left;
}

label[for="name"] {
    font-size: 14px;
    font-weight: bold;
    margin-right: 10px;
    display: inline-block;
}

input[type="text"] {
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 70%;
}

#submit-button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

#submit-button:hover {
    background-color: #444;
}

#output {
    font-size: 16px;
    font-weight: bold;
    padding: 10px;
    border-radius: 10px;
    background-color: #eee;
    text-align: center;
}

.json-upload {
    display: grid;
    grid-template-columns: .4fr .4fr;
    gap: 2px;
    justify-content: left;
    align-items: start;
    margin: 0 auto;
    max-width: 1150px;
    padding: 5px;
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.workflow-container {
    font-size: 18px;
    margin-top: 20px;
}

.workflow-description {
    margin-bottom: 10px;
}

select {
    color: white;
    background-color: blueviolet;
    border-radius: 30px;
    width: 15rem;
    height: 3rem;
    font-size: 1.5rem;
    margin-left: 3rem;
    text-align: center;
    margin-bottom: 1rem;
}

